@model  StudentTrackASP.Net.Models.BuddiesIndexModel

@{
    ViewBag.Title = "Buddies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buddies</h2>
<div id="ajax-loading">
    <div>
        <div>Ik ben druk bezig!</div>
    </div>
</div>

<div id="ajax-result">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddingBuddy.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddingBuddy.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddingBuddy.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddingBuddy.Huisnummer)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Buddies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Huisnummer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>

@using (Ajax.BeginForm(new AjaxOptions()
{
    LoadingElementId = "ajax-loading",
    UpdateTargetId = "ajax-result"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New buddy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AddingBuddy.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddingBuddy.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddingBuddy.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddingBuddy.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddingBuddy.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddingBuddy.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddingBuddy.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddingBuddy.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddingBuddy.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddingBuddy.Huisnummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddingBuddy.Huisnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddingBuddy.Huisnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
